html {

    display: block;
}

body {
    font: 18px/28px 'Borgen';
    background-color: black;
    width:100%;
    display: block;
    margin: 8px;

}

header {
    margin-right: 16px;
    background-color: #666;
    height: 100px;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: #555;
}

h1 {

    text-align: center;

    margin-bottom: 100px;



}

#mosaicon {

    width: 30%;
    height: 30%;
}

h2 {
    font-size: 24px;
    color: crimson;
}

h3, h4, h5, h6 {
    font-weight: bold;
    color: firebrick;
}

h3 {
    font-size: 18px;
}


th {
    text-align: left;
    padding: 5px 10px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    color: #444;
}

td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

a {
    color: #3399cc;
    text-decoration: none;

}

#banner {

    background-color: crimson;
    border-radius: 2px;
    box-shadow: #444444;
    height: 30px;
    max-width: 100%;
    margin-right: 16px;

}

.wrapper {
    margin-top: 30px;

}

nav {
    float: left;
    margin-right: 20px;
    color: white;
}

section {
    color: black;
    overflow: hidden;
    background-color: #888;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 30px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

nav > ul {
    font-size: 14px;
    color: transparent;
    height: 24px;
}

nav > ul > li > a {
    color: white;
}

nav  ul  li  a:hover {
    color: #999999;
}

section div p a {
    color: #444;
}

th {
    font-weight: bold;
    color: whitesmoke;
}

.subsection {

    padding-bottom: 19px;
    background-image: url("../images/oriz.png");
    background-position-x: center;
    background-repeat: repeat-x;
    padding-top: 10px;
    padding-right: 1px;
    padding-left: 1px;

}

.subsection:first-child {

    background-image: none;
}

.subsection:last-child {

    background-image: none;
}

#logo {

    height: 25px;
    width: 25px;
    background-image: url("../images/octocat-logo.png");
    background-position: center;
    float: right;
    display: block;
    margin-right: 5px;

    margin-bottom: 10px;
    padding-bottom: 5px;
}

.button {

    color: #333333;
    border-color: rgb(200, 200, 200);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(180, 180, 180);
    padding-bottom: 2px;
   /*


    text-align: center;


    padding: 12px 10px 10px;
    display: inline-block;
    position: absolute;
    margin-top: -12px; */


}