html {

    display: block;
}

body {
    font: 18px/28px 'Courier';
    background-color: black;
    width:100%;
    display: block;
    margin: 8px;

}

header {
    margin-right: 16px;
    background-color: #333;
    height: 100px;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: #222;
}

h1 {

    text-align: center;


}



#mosaicon {

    width: 340px;
    height: auto;
}

h2 {
    font-size: 24px;
    color: darkred;
}

h3, h4, h5, h6 {
    font-weight: bold;
    color: maroon;
}

h3 {
    font-size: 18px;
}


th {
    text-align: left;
    padding: 5px 10px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    color: #444;
}

td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

a {
    color: #3399cc;
    text-decoration: none;

}

#banner {

    background-color: #BB464A;
    border-radius: 2px;
    box-shadow: #444444;
    height: 40px;
    max-width: 100%;
    margin-right: 16px;

}

.wrapper {
    margin-top: 30px;

}

#nav_default {
    float: left;
    margin-right: 20px;
    color: white;
    display: block;
}

#nav_bar {
    float: left;
    margin-right: 20px;
    color: white;
    display: none;
}

section {
    color: black;
    overflow: hidden;
    background-color: #777;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

nav > ul {
    font-size: 14px;
    color: transparent;
    height: 24px;
}


nav > ul > li > a {
    color: whitesmoke;
}

nav  ul  li  a:hover {
    color: #999999;
}

section div p a {
    color: #444;
}

section div p a:hover {
    color: #333;
}

th {
    font-weight: bold;
    color: whitesmoke;
}

.subsection {

    padding-bottom: 19px;
    background-image: url("../images/oriz.png");
    background-position-x: center;
    background-repeat: repeat-x;
    padding-top: 10px;
    padding-right: 1px;
    padding-left: 1px;
    overflow-x: auto;

}

.subsection:first-child {

    background-image: none;
}

/*.subsection:last-child {

    background-image: none;
} */

#logo {

    height: 36px;
    width: 36px;
    background-image: url("../images/octocat-logo.png");
    background-position: center;
    float: right;
    display: block;
    margin-right: 5px;
    margin-top: 3px;
}

.button {

    color: #333333;
    border-color: rgb(170, 170, 190);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(180, 180, 180);

    margin-left: 5px;
    padding-left: 2px;
    padding-right:2px;
    float: left;
    margin-top: 5px;

}

.grafici {

    width: 100%;
    height: auto;
}

#slogan {
    
    width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {

    #nav_bar {

        background-position: 10px 15px;
        padding:10px;
        min-height:30px;
        width: 100%;
        position: relative;
        float: left;
        display: block;
        background-image: url(../images/menu-alt-512_fff.png);
        background-size: 25px 25px;
        background-repeat: no-repeat;
        margin-top: -46px;
        text-align: center;
        /*border: 1px solid black;
        border-radius: 2px;
        background-color: #333;
        width: 85%; */

    }

    #nav_default {

        visibility: hidden;
        background-image: url(../images/menu-alt-512_fff.png);
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: 5px;
        height: 28px;
        position: relative;
        float: left;
        margin-top: -30px;
        margin-left: 25px;
        text-align: center;
        /*border: 1px solid black;
        border-radius: 2px;
        background-color: #333;
        width: 85%; */
    }

    .button {

        display: none;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav li {
        display: none;
        margin: 0;
        background-color: rgba(51, 51, 51, 0.97);

    }

    nav .current {
        display: block;
    }

    nav a {
        display: block;
        padding: 10px;
        text-align: left;
    }

    nav .current a {
        background: none;
        color: #666;
    }

    nav ul:hover {
        background-image: none;
    }

    nav ul:hover li {
        display: block;

    }


    body {
        font: 18px/28px 'Courier';
        background-color: black;
        width: 100%;
        display: block;
        margin: 8px;
    }

    table {

        font-size: smaller;

    }

    #mosaicon {
        width: 55%;
        height: auto;
    }

    h1 {
        align-content: center;
    }


}