html {

    display: block;
}

body {
    font: 18px/28px 'Borgen';
    color: #666;
    background: #eae6d1;
    width:100%;
    display: block;
    margin: 8px;

}

header {
    margin-right: 16px;
    background-color: #3399cc;
    height: 100px;
}

h1 {
    font-size: 28px;
    text-align: center;
    padding: 36px;


}

h2 {
    font-size: 24px;
    color: #393939;
}

h3, h4, h5, h6 {
    color: #666666;
}

h3 {
    font-size: 18px;
}


th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #444;
}

td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #ffcc00;
}

a {
    color: #3399cc;
    text-decoration: none;

}

#banner {

    background-color: #ffcc00;
    border-radius: 10px;
    height: 40px;
    margin-top: -20px;
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;

}

.wrapper {
    margin-top: 30px;

}

nav {
    float: left;
    margin-right: 20px;


}

section {

    overflow: hidden;
    background: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 30px;
}

nav > ul {
    font-size: 14px;
    color: transparent;
    height: 24px;

}

nav > ul > li > a {

    color: #666666;

}

nav  ul  li  a:hover {

    color: #999999;
}

.subsection {

    padding-bottom: 19px;
    background-image: url("../images/hr.gif");
    background-repeat: repeat-x;
    background-position-x: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;

}

.subsection:first-child {

    background-image: none;
}

.subsection:last-child {

    background-image: none;
}

#logo {

    height: 36px;
    width: 36px;
    background-image: url("../images/octocat-logo.png");
    background-position: center;
    float: right;
    display: block;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.button {

    border-color: rgb(219, 165, 0);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffe788;
    vertical-align: middle;
    color: #333333;
    text-align: center;
    height: 14px;
    padding: 12px 10px 10px;
    display: inline-block;
    position: absolute;
    margin: 2px;

}